<%= form_for @post do |f| %>
<%= f.label :wage %>
<%= f.text_field :wage %>
<%= f.label :job_title %>
<%= f.text_field :job_title, placeholder: "Job Title" %>
<%= f.label :start_date %>
<%= f.date_field :start_date %>
<%= f.label :end_date %>
<%= f.date_field :end_date %>
<%= f.label :description %>
<%= f.textarea :description %>
<%= f.label :location %>
<%= f.text_field :location %>
<div id="my_map"></div>
<!-- MAKE PAC-INPUT LOCATION INSTEAD -->
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<%= f.hidden_field :latitude %>
<%= f.hidden_field :longitude %>
<%= f.submit %>
<% end %>