<h2><%= @job.job_title %> </h2>
<ul>
  <li><%= @job.location %></li>
  <li><%= @job.start_date %></li>
  <li><%= @job.end_date %></li>
  <li><%= @job.description %></li>
  <li><%= @job.wage %></li>
</ul>