<!DOCTYPE html>
<html>
<head>
  <title>Wincle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h2>Wincle</h2>
  <% if logged_in? %>
  <nav>
    <ul>
    <li><%= link_to "Profile", user_path(@user) %></li>
    <li><a href="">Employer</a></li>
    <li><a href="">Employee</a></li>
    <li><%= link_to "Logout", user_path(@user), method: :delete %></li>
  </ul>
</nav>
<% end %>
</header>

<%= yield %>

</body>
</html>
